<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <appSettings><add key="webpages:Version" value="3.0.0.0"/><add key="webpages:Enabled" value="false"/><add key="ClientValidationEnabled" value="true"/><add key="UnobtrusiveJavaScriptEnabled" value="true"/><add key="VD.Provider" value="SQLite"/></appSettings>
 <connectionStrings><add name="VD" connectionString="Data Source=|DataDirectory|\vd.sqlite;Version=3;Foreign Keys=True;Default Timeout=30;" providerName="System.Data.SQLite"/></connectionStrings>
 <system.web><compilation debug="true" targetFramework="4.8"/><httpRuntime targetFramework="4.8" maxRequestLength="4096"/><globalization culture="zh-TW" uiCulture="zh-TW"/><customErrors mode="RemoteOnly"/><httpCookies httpOnlyCookies="true" sameSite="Lax"/></system.web>
 <system.webServer><validation validateIntegratedModeConfiguration="false"/><modules runAllManagedModulesForAllRequests="true"/></system.webServer>
 <runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly><assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/><bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/></dependentAssembly>
  <dependentAssembly><assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral"/><bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/></dependentAssembly>
  <dependentAssembly><assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/><bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/></dependentAssembly>
  <dependentAssembly><assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral"/><bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/></dependentAssembly>
  <dependentAssembly><assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/><bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/></dependentAssembly>
 </assemblyBinding></runtime>
</configuration>
